* {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.flex-row {
	display: flex;
	flex-direction: row;
}

.flex-column {
	display: flex;
	flex-direction: column;
}

.justify-content-end {
	justify-content: flex-end;
}

.justify-content-start {
	justify-content: flex-start;
}

.justify-content-center {
	justify-content: center;
}

.justify-content-space {
	justify-content: space-between;
}

.align-items-start {
	align-items: flex-start;
}

.align-items-center {
	align-items: center;
}

.align-items-end {
	align-items: flex-end;
}

.flex-grow {
	flex: none;
	order: 0;
	flex-grow: 0;
}

.flex-order-one {
	flex: none;
	order: 1;
	flex-grow: 0;
}

.flex-order-two {
	flex: none;
	order: 2;
	flex-grow: 0;
}

.flex-order-three {
	flex: none;
	order: 3;
	flex-grow: 0;
}

.flex-order-four {
	flex: none;
	order: 4;
	flex-grow: 0;
}

.flex-grow-one {
	flex: none;
	order: 0;
	flex-grow: 1;
}

.font-weight-large {
	font-weight: 600;
}

.line-height {
	line-height: 125%;
}

.gap-small {
	gap: 8px;
}

.gap-medium {
	gap: 16px;
}

.align-self-stretch {
	align-self: stretch;
}

.align-self-center {
	align-self: center;
}

.font-family-roboto {
	font-family: "Roboto";
}

.font-family-raleway {
	font-style: "Raleway";
}

.relative {
	position: relative;
}

.absolute {
	position: absolute;
}

.font-style-normal {
	font-style: normal;
}

.text-center {
	text-align: center;
}

.color-white {
	color: #ffffff;
}

.color-blue {
	color: #0096ff;
}

.color-arsenic {
	color: #3c4852;
}
